<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estadísticas</title>
    <link rel="stylesheet" th:href="@{/css/admindashboard.css}">
    <link rel="icon" type="image" th:href="@{/img/icon.png}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<header class="top-navbar">
    <div id="logoToggle" class="logo">HS</div>
    <div class="navbar-title">Panel de Administrador</div>
    <div></div>
</header>

<div class="wrapper">
    <!-- Sidebar -->
    <aside id="sidebar" class="sidebar collapsed">
        <ul>
            <li th:class="'menu-item ' + (${activePage} == 'dashboard' ? 'active' : '')">
                <a th:href="@{/admin/dashboard}"><i class="fas fa-home"></i> <span>Inicio</span></a>
            </li>
            <li th:class="'menu-item ' + (${activePage} == 'usuarios' ? 'active' : '')">
                <a th:href="@{/admin/usuarios}"><i class="fas fa-users"></i> <span>Usuarios</span></a>
            </li>
            <li th:class="'menu-item ' + (${activePage} == 'nuevoAdmin' ? 'active' : '')">
                <a th:href="@{/admin/usuarios/nuevo-admin}"><i class="fas fa-user-plus"></i> <span>Agregar Admin</span></a>
            <li th:class="'menu-item ' + (${activePage} == 'categorias' ? 'active' : '')">
                <a th:href="@{/admin/categorias}">
                    <i class="fas fa-tags"></i> <span>Categorías</span>
                </a>
            </li>
            <li>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="logout-btn">
                        <i class="fas fa-sign-out-alt"></i> <span>Salir</span>
                    </button>
                </form>
            </li>
        </ul>
    </aside>

    <!-- Contenido principal que se mueve junto con el sidebar -->
    <div class="dashboard-main">
        <a th:href="@{/admin/dashboard}" class="btn-volver">
            <i class="fas fa-arrow-left"></i> Volver
        </a>
        <h2 class="color-change">Tus estadísticas</h2>

        <div class="container">
            <div class="stats">
                <div class="stat-box">
                    <i class="fas fa-users"></i>
                    <p>Total de Usuarios</p>
                    <h2 th:text="${totalUsuarios}">0</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const logo = document.getElementById('logoToggle');
    const sidebar = document.getElementById('sidebar');
    let expanded = false;
    logo.addEventListener('click', () => {
        sidebar.classList.toggle('collapsed');
        expanded = !expanded;
        logo.textContent = expanded ? 'Hana Servizi' : 'HS';
    });
</script>
</body>
</html>
